<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="sign-in-form">
            <div class="sign-in-title">
                <h3>خوش آمدید</h3>
                <p>لطفا وارد حساب کاربری خود شوید</p>
            </div>

            <form asp-action="ResetPasswordLevelThree" asp-controller="Account">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" name="newpassword" class="form-control" placeholder="رمز عبور جديد">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="send-btn">
                            <button class="default-btn">
                                تغيير رمز عبور
                                <span style="top: -2.10001px; left: 79.35px;"></span>
                            </button>
                        </div>
                        <br>
                        <span>ثبت نام نکردی؟ <a href="sign-up.html">ثبت نام</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>