<section class="consult-area ptb-100">
    <div class="container-fluid pr-0">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="consult-image">
                    <img src="~/assets/img/blog/image1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-5">
                <div class="consult-content">                    
                    <h3>درباره ما</h3>
                    <p>کلینیک ما به عنوان پلتفرمی برای تسهیل فرآیند درمان و پسادرمان (فالو آپ) بیمار از طریق ارائه سرویس نرم‌افزاری پرونده الکترونیک این امکان را ایجاد می‌کند که همه بتوانند سه گام ارتباط با بیمار، مراقبت و درمان در فضای مجازی عملیاتی نمایند.</p>                    
                </div>
            </div>
        </div>
    </div>
</section>