<section class="blog-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">            
            <h2>مقالات پزشکی</h2>            
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="image">
                        <a href="single-blog.html">
                            <img src="~/assets/img/blog/image1.jpg" alt="image">
                        </a>

                        <a href="#" class="date">سه فرودین ۱۳۹۹</a>
                    </div>

                    <div class="content">
                        <h3>
                            <a asp-action="ObjectDetail">کرونا ویروس خطری جدی برای بشریت؟</a>
                        </h3>
                        <a asp-action="ObjectDetail" class="blog-btn">بیشتر بخوانید +</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
