<section class="doctor-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <div class="section-title">
                @*<span>Our Doctors</span>*@
                <h2>متخصصان ما</h2>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>*@
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="doctor-item">
                    <div class="image">
                        <img src="~/assets/img/team/image1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>دكتر حسن انتظامی</h3>
                        <span>متخصص قلب</span>

                        @*<ul class="social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>*@
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>