@{ 
    Layout = null;
}
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/assets/css/odometer.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="~/assets/css/rtl.css">

    <title>Tinzer - Telemedicine &amp; Telehealth Services Template</title>

    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader preloader-deactivate">
        <div class="spinner"></div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Error Area -->
    <section class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <img src="~/assets/img/404.png" alt="error">
                        <h3>صفحه ای یافت نشد</h3>
                        <a asp-action="Index" class="default-btn">
                            بازگشت به خانه
                            <span style="top: -6.21668px; left: 91.5px;"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Error Area -->
    <!-- Jquery Slim JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets/js/odometer.min.js"></script>
    <!-- Appear JS -->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!-- Datepicker JS -->
    <script src="~/assets/js/datepicker.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets/js/contact-form-script.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/main.js"></script>

</body>
</html>