<section class="services-section bg-f4f6fe pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            @*<span>Our Services</span>*@
            <h2>طبقه اول</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
        </div>
        <div class="section-title">
            @*<span>Our Services</span>*@
            <h2>طبقه دوم</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
        </div>
        <div class="section-title">
            @*<span>Our Services</span>*@
            <h2>طبقه سوم</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item-two">
                    <div class="icon">
                        <i class="flaticon-bacteria"></i>
                    </div>
                    <a href="#">
                        <h3>مدیریت درمانگاه</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore</p>
                </div>
            </div>
        </div>
    </div>
</section>