    <div class="main-banner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">

                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="main-banner-content">
                                <h1>از دکتر خودت اینترنتی نوبت بگیر</h1>
                                <p>به کمک این سامانه  به راحتی پزشک مورد نظر خود را در هر تخصصی بیابید و در کوتاه‌ترین زمان نوبت ملاقات بگیرید</p>                                
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="banner-image">
                                <img src="assets\img\flat-design-male-doctor-vector.jpg" alt="image">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>        
    </div>
   