<section class="single-blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-blog-details">
                    <div class="blog-details-image">
                        <img src="~/assets/img/blog-details.jpg" alt="image">
                    </div>

                    <div class="content">
                        <ul class="list">
                            <li>
                                <a href="#">نوشته شده توسط</a>
                            </li>
                            <li>
                                <a href="#">علی عظیمی</a>
                            </li>
                            <li>
                                &nbsp;
                            </li>
                            <li>بیست و دو فروردین ۱۳۹۹</li>
                        </ul>
                        <h3>Lorem ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown specimen book.</p>
                    </div>                                                          
                    @*<div class="related-posts">
                        <h3>Related Post</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="posts-item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="~/assets/img/blog/image1.jpg" alt="image">
                                        </a>

                                        <a href="#" class="date">08 <span>June</span></a>
                                    </div>

                                    <div class="content">
                                        <h3>
                                            <a href="#">Rethinking the way you receive care</a>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                        <a href="#" class="posts-btn">Read More +</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="posts-item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="~/assets/img/blog/image2.jpg" alt="image">
                                        </a>

                                        <a href="#" class="date">06 <span>Jan</span></a>
                                    </div>

                                    <div class="content">
                                        <h3>
                                            <a href="#">Our doctors are in, 24/7</a>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                        <a href="#" class="posts-btn">Read More +</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    @*<div class="comments-area">
                        <h2 class="comments-title">Comments</h2>
                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="~/assets/img/client/1.jpg" class="avatar" alt="image">
                                            <b class="fn">Devit Killer</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="index.html">
                                                <time>Jnauary 12, 2020</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Software hack from an initial feasibility study, continuing through sucessl implna business you have to be But we know there's a better</p>
                                    </div>
                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>
                                    </div>
                                </article>

                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="~/assets/img/client/2.jpg" class="avatar" alt="image">
                                                    <b class="fn">Morah Jein </b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="index.html">
                                                        <time>Jnauary 12, 2020</time>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>Software hack from an initial feasibility study, continuing through sucessl implna business you have to be But we know there's a better</p>
                                            </div>
                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </article>
                                    </li>
                                </ol>

                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="~/assets/img/client/3.jpg" class="avatar" alt="image">
                                            <b class="fn">Devit Killer</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="index.html">
                                                <time>Jnauary 12, 2020</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Software hack from an initial feasibility study, continuing through sucessl implna business you have to be But we know there's a better</p>
                                    </div>
                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>
                                    </div>
                                </article>
                            </li>
                        </ol>

                        <div class="comment-respond">
                            <h2 class="comment-reply-title">Leave a Reply</h2>
                            <form class="comment-form">
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span>
                                    Required fields are marked
                                    <span class="required">*</span>
                                </p>
                                <p class="comment-form-comment">
                                    <label>Comment</label>
                                    <textarea name="comment" id="comment" cols="45" rows="5" maxlength="65525" required="required"></textarea>
                                </p>
                                <p class="comment-form-author">
                                    <label>Name <span class="required">*</span></label>
                                    <input type="text" id="author" name="author" required="required">
                                </p>
                                <p class="comment-form-email">
                                    <label>Email <span class="required">*</span></label>
                                    <input type="email" id="email" name="email" required="required">
                                </p>
                                <p class="comment-form-url">
                                    <label>Website</label>
                                    <input type="url" id="url" name="url">
                                </p>
                                <p class="comment-form-cookies-consent">
                                    <input type="checkbox" value="yes" name="wp-comment-cookies-consent" id="wp-comment-cookies-consent">
                                    <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                </p>
                                <p class="form-submit">
                                    <input type="submit" name="submit" id="submit" class="submit" value="Post A Comment">
                                </p>
                            </form>
                        </div>
                    </div>*@
                </div>
            </div>            
        </div>
    </div>
</section>