<!doctype html>
<html lang="fa">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets3/css/bootstrap.min.css">
    <!-- Owl Theme Default CSS -->
    <link rel="stylesheet" href="~/assets3/css/owl.theme.default.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/assets3/css/owl.carousel.min.css">
    <!-- Owl Magnific CSS -->
    <link rel="stylesheet" href="~/assets3/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets3/css/animate.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/assets3/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/assets3/css/flaticon.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets3/css/meanmenu.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets3/css/nice-select.css">
    <!-- Odometer CSS-->
    <link rel="stylesheet" href="~/assets3/css/odometer.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets3/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets3/css/responsive.css">
    <!-- Rtl CSS -->
    <link rel="stylesheet" href="~/assets3/css/rtl.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets3/img/favicon.png">

    <!-- persian picker CSS -->
    <link rel="stylesheet" href="~/assets3/demo/demo.css" />
    <link rel="stylesheet" href="~/assets3/src/jquery.md.bootstrap.datetimepicker.style.css" />
    <!-- <link rel="stylesheet" href="~/assets3/dist/jquery.md.bootstrap.datetimepicker.style.css" /> -->
    <!-- Title -->
    <title>دادن وقت ملاقات</title>
</head>

<body>

    @RenderBody()

    <script src="~/assets3/js/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="~/assets3/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets3/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/assets3/js/jquery.meanmenu.js"></script>
    <!-- Wow JS -->
    <script src="~/assets3/js/wow.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets3/js/owl.carousel.js"></script>
    <!-- Owl Magnific JS -->
    <script src="~/assets3/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/assets3/js/jquery.nice-select.min.js"></script>
    <!-- Parallax JS -->
    <script src="~/assets3/js/parallax.min.js"></script>
    <!-- Appear JS -->
    <script src="~/assets3/js/jquery.appear.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets3/js/odometer.min.js"></script>
    <!-- Odometer JS -->
    <script src="~/assets3/js/bootstrap-datepicker.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/assets3/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/assets3/js/contact-form-script.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/assets3/js/jquery.ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets3/js/custom.js"></script>

    <!-- persian picker JS -->
    <script src="~/assets3/src/jquery.md.bootstrap.datetimepicker.js" type="text/javascript"></script>
    <!-- <script src="~/assets3/dist/jquery.md.bootstrap.datetimepicker.js" type="text/javascript"></script> -->
    <script src="~/assets3/js/picker-style.js" type="text/javascript"></script>

    </body>
</html>
