@{
    Layout = "_LayoutAdmin";
}

@*var post = ViewData["Post"] as BlogPost;*@
@{
    var post = ViewData["Post"] as BlogPost;
}
<div class="page-wrapper" style="min-height: 702px;">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-view">
                    <article class="blog blog-single-post">
                        <h3 class="blog-title">@post.header</h3>
                        <div class="blog-image">
                            <a href="#.">
                                <img alt=""
                                     src="@($"data:image/jpeg;base64," +
                                $"{Convert.ToBase64String(post.img)}")"
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="form-group">
                            @Html.Raw(post.content)
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

