@{
    Layout = "_LayoutDoctor";
}
@{ 
    var patient = ViewData["Patient"] as OnlineClinicUser;
}
<div class="page-wrapper" style="min-height: 527px;">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">اطلاعات اولیه</h4>
            </div>            
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">                        
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="patient-name m-t-0 mb-0">@patient.name</h3>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">                                        
                                        <li>
                                            <span class="title">وضعیت تاهل</span>
                                            @if (patient.marital_status != null)
                                            {
                                                <span class="text"><a>@patient.marital_status</a></span>
                                            }
                                            else
                                            {
                                                <span class="text"><a>ثبت نشده است</a></span>
                                            }
                                        </li>
                                        <li>
                                            <span class="title">سن</span>
                                            @if (patient.age != 0)
                                            {
                                                <span class="text"><a>@patient.age</a></span>
                                            }
                                            else
                                            {
                                                <span class="text"><a>ثبت نشده است</a></span>
                                            }
                                        </li>    
                                        <li>
                                            <span class="title">تلفن</span>
                                            @if (patient.PhoneNumber != null)
                                            {
                                                <span class="text"><a>@patient.PhoneNumber</a></span>
                                            }
                                            else
                                            {
                                                <span class="text"><a>ثبت نشده است</a></span>
                                            }
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>